:root {
  --text-color: rgb(38, 82, 38);
}

html {
  font-size: 16px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(147, 220, 147));
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: var(--text-color);
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image {
  border: 0.8rem outset silver;
  box-shadow: 7px 7px 10px silver;
  max-width: 90%;
}

#load-button {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.1rem;
  text-shadow: 1px 1px 2px rgb(56, 98, 56);
  letter-spacing: 1px;
  border: none;
  background-color: rgb(126, 232, 136);
  box-shadow: 2px 2px 8px rgb(134, 203, 143);
  margin: 2rem;
  padding: 1em 1em;
  border-radius: 0.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  #load-button {
    font-size: 1.3rem
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  #load-button {
    font-size: 1.5rem
  }
}